@tailwind base;
@tailwind components;
@tailwind utilities;


.item{
  transition: all 0.2s;
}

.item:hover{
  scale: 1.009;
}

input{
  border: none;
  border-bottom: 2px solid black;
}

.page{
  transition: all 0.5s;
}